@import "../global";

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 100%;
    background-color: $color3;
    color: $color1;
    font-size: 20px;
    .links {
        gap: 20px;
    }
    .link {
        color: $color1;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            scale: 1.1;
        }
    }
    .cart {
        cursor: pointer;
        sup {
            font-size: 15px;
            border-radius: 100%;
            padding: 1px 2px;
            background-color: red;
            color: $color1;
        }
    }
}

.cart-container {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 400px;
    animation: 1s slideFromRight;
    transition: 1s ease;
    background-color: $color2;
    box-shadow: $shadow;
    align-items: center;
    .close-cart {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .items {
        gap: 20px;
        width: 90%;
        .item {
            .item-desc {
                align-items: center;
                gap: 5px;
                img {
                    height: 70px;
                    width: 55px;
                    border-radius: 5px;
                }
            }
            .buttons {
                gap: 5px;
                button {
                    background: $color3;
                    color: $color1;
                    height: 30px;
                    width: 30px;
                    font-size: 20px;
                    font-weight: bold;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }
    }
    h1 {
        position: absolute;
        bottom: 10px;
        right: 15px;
        span {
            color: $color1;
        }
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(50%);
    }
    to {
        right: 0px;
    }
}
