@import "../../global";

.pages-container {
    position: absolute;
    top: 70px;
    height: calc(100% - 70px);
    width: 100%;
    align-items: center;
    .items {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        .item {
            width: 250px;
            height: 300px;
            border-radius: 15px;
            background: $color2;
            color: $color1;
            gap: 5px;
            img {
                height: 200px;
                width: 180px;
                border-radius: 10px;
            }
            .item-container {
                gap: 10px;
                width: 90%;
                align-items: center;
                .item-content {
                    .item-name {
                        font-weight: bold;
                    }
                    .item-price {
                        font-weight: bolder;
                        font-size: 25px;
                    }
                }
                .add-to-cart {
                    cursor: pointer;
                    height: 40px;
                    width: 40px;
                    background-color: $color3;
                    border-radius: 10px;
                    font-weight: bolder;
                }
                .remove {
                    cursor: pointer;
                    height: 40px;
                    width: 40px;
                    background-color: red;
                    border-radius: 10px;
                    font-weight: bolder;
                }
            }
        }
    }
    // HOME
    .home-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }
    .heading {
        font-size: 50px;
        font-weight: bolder;
        z-index: 1;
        animation: 1s ease fromTop;
    }
    .content {
        font-size: 30px;
        font-weight: bold;
        animation: 1s ease fromDown;
        width: 80%;
        z-index: 1;
        text-align: center;
    }
    .explore {
        text-shadow: 1px 1px 2px $color1;
        font-weight: bold;
        font-size: 25px;
        z-index: 1;
        animation: 1.5s ease fromDown;
    }
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        top: 0%;
    }
}

@keyframes fromDown {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        top: 0%;
    }
}
